@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato:400,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
}

body {
  background: url('/assets/img/bg-food-drinks-pattern.svg');
  color: #262626;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alfa Slab One', serif;
  font-weight: 100;
}
